//--------------------------------------------
// GLOBAL SCSS
//--------------------------------------------

/* INCLUDES */

@import "compass";

/* VARIABLES */

$bg-color: #222;
$action: red;
$pad: 2rem;